<!-- <div class="content-card">
<ngx-datatable #table class="material fullscreen"
[columnMode]="'flex'"
[headerHeight]="64"
[footerHeight]="64"
rowHeight="auto"
[scrollbarV]="true"
[scrollbarH]="true"
[virtualization]="false"
[externalPaging]="true"
>

<ngx-datatable-column [flexGrow]="1">
  <ng-template ngx-datatable-cell-template let-row="row">
    <button class="mat-icon-button" aria-label="More" [matMenuTriggerFor]="moreMenu"
      (click)="$event.stopPropagation()">
      <mat-icon class="secondary-text">more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu>
      <button mat-menu-item aria-label="edit">
        <mat-icon>edit</mat-icon>
        <span>แก้ไข</span>
      </button>
      <button mat-menu-item aria-label="delete">
        <mat-icon>delete</mat-icon>
        <span>ลบ</span>
      </button>
    </mat-menu>
  </ng-template>
</ngx-datatable-column>

</ngx-datatable>
</div> -->
